<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <script src="/scripts/index.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>TodoBin</h1>
        <form action="/" method="post">
          <input type="hidden" name="gorilla.csrf.Token" value="{{.CSRFToken}}" />
          <label for="name">List Name</label>
          <input class="u-full-width" type="text" placeholder="List Name" name="name" id="name" value="{{.Name}}"
            required>
          <label for="todolist">Todo List</label>
          <textarea class="u-full-width" name="todolist" placeholder="Todos" id="todolist" required>{{.Todo}}</textarea>
          <input class="button-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div id="saved-lists-wrap" class="hide">
          <h2>Saved Lists</h2>
          <ul id="saved-lists"></ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    function removeList(uuid) {
      var lists = getStoredLists()
      delete lists[uuid]
      saveLists(lists)
      var listItem = document.getElementById(`todo-${uuid}`)
      listItem && listItem.remove()
    }

    function renderStoredLists() {
      var lists = getStoredLists();

      if (Object.keys(lists).length) {
        var listItems = Object.keys(lists).reduce(function (memo, uuid) {
          var name = lists[uuid];
          var listItem = `
          <li class="stored-list-item" id="todo-${uuid}">
            <a href="/todo/${uuid}">${name}</a> | <a href="#" onclick="removeList('${uuid}')">Remove</a>
          </li>
          `
          memo += listItem
          return memo
        }, '')
        var ul = document.getElementById('saved-lists')
        ul.innerHTML = listItems
        var savedListWrap = document.getElementById('saved-lists-wrap')
        savedListWrap.classList.remove('hide')
      }
    }
    renderStoredLists()
  </script>
</body>

</html>